.all-works {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.work-preview {
  border: solid thin white;
  padding: 2em 2em;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;  
}

.work-preview a:hover {
  color: black;
}

.work-item {
  border: solid thin white;
  max-width: 350px;
  padding: 1em;
  margin: .5em;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.work-item:hover {
  transform: scale(1.02);
  opacity: 70%;
  transition: var(--transition);
}

.work-item_image {
  height: 40vh;
  overflow: hidden;
}

.work-item_image img {
  height: 100%;
  width: 100%;
  max-width: 350px;
  object-fit: cover;
  object-position: center;
  border-radius: 5px;
}

.work-item_contenuto {
  padding: 0em 0em 2em 0;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.work-item_titolo {
  text-align: center;
  padding: 0;
  margin: 0;
}

.work-item_titolo h3 {
  font: var(--h3);
  color: var(--colorprimary);
  margin: 1em 0 0 0;
}

.work-item_descrizione {
  text-align: justify; 
}

.view-all-button {
  margin: 2em;
  margin-bottom: 4em;
  padding: 2em;
  font-size: 1.2em;
  text-align: center;
  width: 100%;
}
.view-all-button .btn {

  padding: 0.8em 1.5em;
  font: var(--h2);
  border: 2px solid var(--colorprimary);
  border-radius: 5px;
  text-decoration: none;
}


@media (max-width: 37.5rem) {

}
